---
import { getStore } from "@netlify/blobs";
import Layout from "../../layouts/Layout.astro";
import Header from "~/react/Header";
import Hero from "~/components/Hero.astro";
import Gallery from "~/components/Gallery.astro";
import Tiles from "~/components/Tiles.astro";

const { slug } = Astro.params;

const store = getStore({
      name: "galleries",
      siteID: import.meta.env.NETLIFY_SITE_ID,
      token: import.meta.env.NETLIFY_BLOBS_TOKEN,
    });
    
const key = `gallery/${slug}`;
const gallery = await store.get(key, { type: 'json' });

console.log(gallery);
---

{gallery ? (
<Layout title={gallery.title} id={gallery.slug}>
  <Header client:load />
  <Hero title={gallery.title} />
  <Tiles gallery={gallery} />
</Layout>
) : (
<Layout title={'Yana Bourne Photography'} id={'home'}>
  <Header client:load />
  <Hero title={'Yana Bourne Photography'} />
  <div>Gallery not found</div>
  
</Layout>
)}