---

import Layout from "../../layouts/Layout.astro";
import Header from "~/react/Header";
import Hero from "~/components/Hero.astro";
import Tiles from "~/components/Tiles.astro";
import { getStore } from "~/utils/blob-store";

export const prerender = false;

const { slug } = Astro.params;

const store = getStore("galleries");
const key = `gallery/${slug}`;
const gallery = await store.get(key, { type: 'json' });

const homegallery = await store.get(`gallery/home`, { type: 'json' });
const links: {description: string, link: string}[] = homegallery.layout.filter((tile: any) => tile.link);
const pathname = Astro.url.pathname;
---

{gallery ? (
<Layout title={gallery.title} id={gallery.slug}>
  <Header client:load links={links} pathname={pathname} />
  <Hero title={gallery.title} />
  <Tiles gallery={gallery} />
</Layout>
) : (
<Layout title={'Yana Bourne Photography'} id={'home'}>
  <Header client:load links={links} pathname={pathname} />
  <Hero title={'Yana Bourne Photography'} />
  <div>Gallery not found</div>
</Layout>
)}