---
import { ResponsiveImage } from '~/react/ResponsiveImage';
import TypographyWrapper from '../react/TypographyWrapper';

interface Props {
  tile: {
    id: string,
    imageUrl: string,
    altText: string,
    description: string,
    link: string,
    x: number,
    y: number,
    w: number,
    h: number
  }
  className?: string;
  thumbUrl?: string;
}

const { tile, className='', thumbUrl } = Astro.props;

const Wrapper = tile.link ? "a" : "div";
const wrapperProps = tile.link ? { href: tile.link } : {};

---

<Wrapper {...wrapperProps} class={`${className} ${tile.link ? 'cursor-pointer' : ''}
    ${tile.imageUrl ? 'bg-gray-100' : ''}
    h-full w-full`} data-id={tile.id}>
  
  {tile.imageUrl && (
    <ResponsiveImage
      id={tile.imageUrl}
      w={tile.w * 300}
      h={tile.h * 300}
      site={import.meta.env.PUBLIC_URL}
      alt={tile.altText}
      thumbUrl={thumbUrl}
    />
  )}
  {tile.imageUrl && tile.description && (
    <div class="absolute bottom-0 left-0 right-0 font-karla m-3  ">
      <span class="preserve-whitespace bg-black/20 backdrop-blur-[1px] text-white text-sm md:text-2xl px-2 py-1 rounded">{tile.description.toUpperCase()}</span>
    </div>
  )} 
  {!tile.imageUrl && tile.description && (
    <TypographyWrapper html={tile.description} />
  )}
</Wrapper>
