---
import { Image } from "@unpic/react";
import TypographyWrapper from '../react/TypographyWrapper';

interface Props {
  image?: string;
  imageAlt?: string;
  text?: string;
  className?: string;
  link?: string;
  id?: string;
}

const { 
  image, 
  imageAlt = '', 
  text = '', 
  className = '',
  link,
  id
} = Astro.props;

const Wrapper = link ? "a" : "div";
const wrapperProps = link ? { href: link } : {};


---

<div 
  class={`${className} ${link ? 'cursor-pointer' : ''} h-full w-full`}
  data-id={id}
>
  {image && (
    <Image
      src={`${import.meta.env.PUBLIC_URL}/api/get-raw-image/?key=${image}`}
      layout="fullWidth"
      alt={imageAlt}
      fallback={import.meta.env.PUBLIC_LOCAL ? "astro" : "netlify"}
      className="w-full h-full object-cover"
    />
  )}
  {image && text && (
    <div class="absolute bottom-0 left-0 right-0 font-karla m-3 ">
      <span class="preserve-whitespace bg-black/20 backdrop-blur-[1px] text-white text-sm md:text-2xl px-2 py-1 rounded">{text}</span>
    </div>
  )} 
  {!image && text && (
    <TypographyWrapper html={text} />
  )}
  
</div>
